{% extends 'main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
					  
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_order}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<br>
<a class="btn btn-primary" href="{% url 'create_order' request.user.id %}">Create Order</a>
<br>
<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Order Details</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
                            <th>Date of Purchase</th>
							<th>Product</th>
							<th>Category</th>
                            <th>Order Status</th>
							<th>#</th>
						</tr>
						{% for order in orders %}
						<tr>
                            <td>{{order.date_created}} </td>
							<td>{{order.product}} </td>
							<td>{{order.product.category}} </td>
                            <td>{{order.status}} </td>
							{% if order.status != 'Delivered' %}
							<td><a class="btn btn-danger" href="{% url 'delete_order' order.id %}">Delete Order</a></td>
							{% else %}
							<td><a href="">Download Invoice</a> </td>
							{% endif %}
							
						</tr>
						{% endfor %}
					</table>
				

					

					
				</div>
			</div>
			
		</div>
				

					

					
				</div>
			</div>
			
		</div>


{% endblock %}